<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Portfolio</title>

    <link rel="stylesheet" href="../css/main.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
      integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header id="home">
      <nav id="nav-wrap" class="">
        <ul id="nav" class="nav">
          <li class="current"><a class="smoothcontrol" href="#home">Home</a></li>
          <li><a class="smoothcontrol" href="#about">About</a></li>
          <li><a class="smoothcontrol" href="#resume">Resume</a></li>
          <li><a class="smoothcontrol" href="#works">Works</a></li>
          <li><a class="smoothcontrol" href="#contact">Contact</a></li>
        </ul>
      </nav>
      <div class="header__body">
        <div class="header__bodyLeft">
          <h1>Hi, I am Paolo Espiritu</h1>
          <p>Full Stack Web Developer</p>
          <div class="social">
            <a href="#"><i class="fab fa-facebook-f"></i></a>

            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
            <a href="#"><i class="fab fa-github"></i></a>
          </div>
        </div>

        <div class="header__bodyRight"></div>
      </div>

      <div class="header__button">
        <a class="smoothcontrol" href="#about"><i class="fas fa-angle-down"></i></a>
      </div>
    </header>

    <section id="about">
      <div class="about__profile row">
        <div class="about__image column-3">
          <img src="../images/facebook_profile.jpg" alt="profile photo" />
        </div>
        <div class="about__info column-7">
          <h3>About Me</h3>
          <p>
            My name is Paolo. I'm a Full Stack Web Developer. I have an extreme
            passion when it comes to the field of technology. Currently looking
            for a job as a Web Developer/Software Developer/ Software Engineer.
          </p>
          <div class="about__innerInfo">
            <div class="about__contactDetails">
              <h3>Contact Details</h3>
              <p class="about__address">
                <span>Jose Paolo Espiritu</span>
                <br />
                <span>5310B Moras Street</span>
                <br />
                <span>San Dionisio Paranaque City, NCR</span>
                <br />
                <span>+63 977 768 3004</span>
                <br />
                <span>paolojoseespiritu@gmail.com</span>
              </p>
            </div>
            <div class="about__resume">
              <a href="#"><i class="fas fa-download"></i> Download Resume</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="resume">
      <!-- EDUCATION -->
      <div class="resume">
        <div class="row resume__education">
          <div class="resume__details column-3">
            <h2>EDUCATION</h2>
          </div>
          <div class="resume__info column-7">
            <h1>Colegio de San Juan de Letran</h1>
            <p>Bachelors of Science in Information Technology</p>
            <i class="fas fa-circle"></i>
            <p>April 2018</p>
          </div>
        </div>

        <!-- WORK -->
        <div class="row resume__work">
          <div class="resume__details column-3">
            <h2>WORK</h2>
          </div>
          <div class="resume__info column-7">
            <h1>Gussmann Integrated Solutions Phils., Inc.</h1>
            <p>Software Programmer</p>
            <i class="fas fa-circle"></i>
            <p>June 2018 - January 2020</p>
            <p class=""></p>
          </div>
        </div>

        <!-- SKILLS -->
        <div class="row resume__skills">
          <div class="resume__details column-3">
            <h2>SKILLS</h2>
          </div>
          <div class="bars column-7">
            <ul class="skills">
              <li>
                <span class="bar-expand" style="width: 75%"></span>
                <em>JavaSript</em>
              </li>
              <li>
                <span class="bar-expand" style="width: 45%"></span>
                <em>jquery</em>
              </li>
              <li>
                <span class="bar-expand" style="width: 60%"></span>
                <em>ReactJs</em>
              </li>
              <li>
                <span class="bar-expand" style="width: 50%"></span>
                <em>NodeJs(ExpressJs)</em>
              </li>
            </ul>
            <ul class="skills">
              <li>
                <span class="bar-expand" style="width: 60%"></span>
                <em>C#</em>
              </li>
              <li>
                <span class="bar-expand" style="width: 60%"></span>
                <em>Visual Basic</em>
              </li>

              <li>
                <span class="bar-expand" style="width: 70%"></span>
                <em>CSS</em>
              </li>
              <li>
                <span class="bar-expand" style="width: 50%"></span>
                <em>GIT</em>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <section id="works">
      <div class="works__body row">
        <img class="works__image" src="../images/facebook_profile.jpg" alt="" />
        <img class="works__image" src="../images/facebook_profile.jpg" alt="" />
        <img class="works__image" src="../images/facebook_profile.jpg" alt="" />
        <img class="works__image" src="../images/facebook_profile.jpg" alt="" />
        <img class="works__image" src="../images/facebook_profile.jpg" alt="" />
        <img class="works__image" src="../images/facebook_profile.jpg" alt="" />
      </div>
    </section>

    <section id="contact">
      <div class="row">
        <div class="column-8">
          <form id="contact-form">
            <fieldset>
              <div>
                <label for="contactName">Name <span class="required">*</span></label>
                <input type="text" size="35" id="contactName" name="contactName">
              </div>
              <div>
                <label for="contactEmail">Email <span class="required">*</span></label>
                <input type="text" size="35" id="contactEmail" name="contactEmail">
              </div>
              <div>
                <label for="contactSubject">Subject</label>
                <input type="text" size="35" id="contactSubject" name="contactSubject">
              </div>
              <div>
                <label for="contactMessage">Message <span class="required">*</span></label>
                <textarea cols="50" rows="15" id="contactMessage" name="contactMessage" ></textarea>
              </div>
              <div>
                <button type="submit" class="submit">Submit</button>
              </div>
            </fieldset>
          </form>
        </div>
    </section>

    <footer>
        <div class="row">
          <div class="twelve columns">
            <div class="social">
              <a href="#"><i class="fab fa-facebook-f"></i></a>
  
              <a href="#"><i class="fab fa-instagram"></i></a>
              <a href="#"><i class="fab fa-linkedin-in"></i></a>
              <a href="#"><i class="fab fa-github"></i></a>
            </div>

            <div class="copyright">
              
              <p>© Paolo Espiritu - Copyright 2020 </p>
            </div>
            
          </div>
          <div id="go-top">
            <a class="smoothcontrol" href="#home"><i class="fas fa-angle-up"></i></a>
          </div>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
   
    <script type="text/javascript" src="../js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="../js/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="../js/waypoints.js"></script>
    <script type="text/javascript" src="../js/main.js"></script>
  </body>
</html>
